<section class="railways_header container">
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div>
                <img src="../assets//logo.jpg" width="120" height="100px"/>
            </div>
            <div>Indian Railways</div>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li>Zonal Railways</li>
                <li>Passenger Service</li>
                <li>Freight Service</li>
                <li>Manufacturing units</li>
                <li>Help</li>
            </ul>
        </div>
    </div>

</section>
<router-outlet></router-outlet>