<div class="container">
  <div style="display: flex; flex-direction: row; margin-top: 30px;">
    <div style="width: 250px; height: 260px; background-color: white; border-radius: 10px; margin-right: 20px; padding-top: 5px">
      <div style="width: 250px; height: 200px;">
        <img src="../../../assets/materiallogo.jpg" width="100%" height="100%" />

      </div>
      <div style="text-align: center;">
        <a routerLink="/mat-table">Mat table</a>
      </div>
    </div>
    <div style="width: 250px; height: 260px; background-color: white; border-radius: 10px; padding-top: 5px;margin-right: 20px;">
      <div style="width: 250px; height: 200px;">
        <img src="../../../assets/aggridlogo.jpg" width="100%" height="100%" />
      </div>
      <div style="text-align: center;">
        <a routerLink="/ag-grid">Ag-grid table</a>
      </div>

    </div>
  </div>
</div>